<div class="card post-card pt-2 mb-4" data-categories="{% for category in post.categories %}{{ category | downcase | strip }}|{% endfor %}">
  <div class="card-body">
    <a href="{{ post.url | relative_url }}">
      <p>
        {% include base/event-banner.html event_type=post.event_type %}
        <strong class="{{ post.event_type }}-hue" style="float: right;" 
                font-family="'Source Code Pro', monospace">{{ post.date | date: "%B %e, %Y" }}</strong>
      </p>
      <h5>{{post.title}}</h5>
      <h6>{{post.subtitle}}</h6>
    </a>
  </div>
  {% if post.categories %}
    <div class="card-footer">
      {% assign url = 'newsfeed' | relative_url %}
      {% for category in post.categories %}
        <a class="badge badge-pill" href="{{ url }}?category={{ category | url_encode }}">{{ category }}</a>
      {% endfor %}
    </div>
  {% endif %}
</div>
