<!-- the ticker is the right side panel with current news -->
<!-- about a currently displayed single item, or the home page  -->


{% for item in site.data.post-colors  %}

<svg width="135" height="30" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <polygon points="0,0 120,0 135,15 120,30 0,30" style="fill:url(#{{ item.singular }});stroke: #333;" />  
    <text x="60" y="16" 
          font-family="'Source Code Pro', monospace" font-size="0.9rem" font-weight="bold"
          fill="#eee" style="text-shadow: 1px 1px 2px black;"
          alignment-baseline="middle" text-anchor="middle">
      {{ item.singular | capitalize }}
    </text>
</svg> 

{% endfor  %}


<div class="col-lg-4">
    <h3>Recent News</h3>
    {% for post in posts limit:site.max_news_posts %}
        {% include newsfeed/post-card.html %}
    {% endfor %}
</div>
