{% assign collection = site.funding %}
{% assign item_id = funding.id %}
{% assign collection_name = "funding" %}
{% assign item_type = "funding" %}
{% assign slug = funding.id %}
{% include base/optional-item-link-prep.html %}

<!-- TODO: consider having Current and Past categories, or probably better, set a marker on the card -->
<a id="{{ funding.id }}"></a>
<div class="card funding-card mb-3">
  <div class="card-body">
    {% capture link_html %}
    <div><strong>{{ funding.title }}</strong></div>
    {% endcapture %}
    {% include base/optional-item-link.html link_html=link_html %}

    <div>
      {% capture link_html %}
      {{ funding.sponsor }} {{ funding.grant_type }} {{ funding.sponsor_id }}
      {% endcapture %}
      {% include base/optional-item-link.html link_html=link_html %}

      {% include base/external-link.html url=funding.sponsor_link %}   
      
      <span class="float-right">{% include base/recent-news-link.html %}</span>      
    </div> 

    {% capture link_html %}
    <div><i>{{ funding.start_date | date: "%m/%d/%Y" }} to {{ funding.end_date | date: "%m/%d/%Y" }}</i></div> 
    {% if page.layout == 'funding' %}
    <div class="mt-1 pl-4">{{ funding.description | truncatewords: site.max_words_card_long }}</div> 
    {% endif %} 
    {% endcapture %}    
    {% include base/optional-item-link.html link_html=link_html %}
  </div>

  {% if page.layout == 'funding' %}
    {% assign item = funding %}    
    {% include base/badges.html %}  
  {% endif %}  
</div>
