<div class="card publication-card mb-3" data-categories="{% for category in publication.categories %}{{ category | downcase | strip }}|{% endfor %}">
  <div class="card-body">
    <div><strong>{{ publication.title }}</strong></div>  
    <div class="mt-1">{{ publication.authors | join: ", " }}</div>
    <div class="mt-1">
      <i>{{ publication.journal }}</i>
      {{ publication.citation }}
      ({{ publication.year }})
      {% include base/publication-link.html %}
    </div>
  </div>

  {% if page.layout == 'publications' %}
  {% assign item = publication %}    
  {% assign card_type = 'publication' %}    
  {% include base/badges.html %}  
  {% endif %}  
</div>
