
.cards {
  // Mimics Bootstrap .card-deck, stretching cards to equal height, but without
  // stretching width when there are fewer cards on one row (cards remain equal width)
  div[class*="col"] {
    display: flex;
    align-items: stretch;
  }
}

.card {
  margin-bottom: $grid-gutter-width;
  min-width: 100%; // Use allowed width even if content is smaller

  .card-img-top {
    height: 150px;
    object-fit: cover;
    h1,
    h2,
    h3,
    h4,
    h5 {
      line-height: 150px;
    }
  }

  .card-subtitle {
    color: $gray-600;
    margin-bottom: 0.5rem;
  }


  a:hover {
    text-decoration: none;
  }

  .card-body {
    a {
      color: $body-color;
    }    
  }

  .card-footer {
    background: inherit;
    border-top: none;

    // Smaller badge then the one defined in _jumbotron.scss
    .badge {
      border: 1px solid $michigan-arboretum-blue;
      font-family: $font-family-base;
      text-transform: uppercase;

      &:hover,
      &:focus {
        border: 1px solid $link-hover-color;
      }
    }
  }
}

// newsfeed posts
.post-card {
  border: none;
  border-top: 1px solid grey;
  border-radius: 0;

  .card-body {
    a {
      color: $body-color;
    }    
  }

}

// publications
.publication-card {
  border: none;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-radius: 0;
  border-top-left-radius: 10px;

  // .card-body {
  //   a {
  //     color: $body-color;
  //   }    
  // }

}
