// Team members

.team-member {
  margin-bottom: $grid-gutter-width;

  & > img {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    border: 1px solid $gray-500; 
    object-fit: cover;
  }

  .orcid {
    height: 16px;
    width: 16px;
    margin-top: -3px;
  }
}
