// Team members

.team-member {
  margin-bottom: $grid-gutter-width;

  // & > 
  img {
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    border-radius: 150px;
    border: 1px solid $gray-500; 
    object-fit: cover;
  }

  a:hover {
    text-decoration: none;
  }

  .team-member-body {
    a {
      color: $body-color;
    }   
  }  

  .orcid {
    height: 16px;
    width: 16px;
    margin-top: -3px;
  }

  .card-footer {
    background: inherit;
    border-top: none;
    padding: 0;

    // Smaller badge then the one defined in _jumbotron.scss
    .badge {
      border: 1px solid $michigan-arboretum-blue;
      font-family: $font-family-base;
      text-transform: capitalize;

      &:hover,
      &:focus {
        border: 1px solid $link-hover-color;
      }
    }
  }
}
