<!-- called by all card types EXCEPT project cards, which uses custom categories -->
{% if item.badges %}
<div class="card-footer">

{% for badge in item.badges %}
  {% assign parts = badge | split: "=" %}
  {% assign badge_type  = parts[0] | strip %}
  {% assign badge_value = parts[1] | strip %}
  {% assign collection = site.collections | where: "item", badge_type | first %} 
  {% assign class = collection.name | append: "-badge" %}
  {% include base/badge-label.html %}
  {% if collection.link == 'never' %}
  <span class="badge badge-pill {{ class }}">{{ label }}</span>
  {% else %} 
    {% if collection.link == 'hash_always' %}
      {% assign sep = "#" %}
      {% assign target = badge_value %}
    {% elsif collection.link == 'page_always' %}
      {% assign sep = "/" %}
      {% assign target = badge_value | replace: "_", "-" | downcase %}
    {% else %}
      {% assign filename = badge_value | append: ".md" %}
      {% if collection.order contains filename %}
        {% assign sep = "/" %}
        {% assign target = badge_value | replace: "_", "-" | downcase %}
      {% else %}
        {% assign sep = "#" %}
        {% assign target = badge_value %}
      {% endif %} 
    {% endif %} 
    {% assign path = collection.name | append: sep | append: target %}
    <a class="badge badge-pill {{ class }}" href="{{ path | relative_url }}">{{ label }}</a>
  {% endif %}
{% endfor %}

</div>
{% endif %}
