{% assign ids = collection | map: "id" %}
{% assign id = "/" | append: collection_name | append: "/" | append: item_id %}

{% if ids contains id %}
    {% assign optional_link_tag = "a" %}
    {% assign tmp = id | replace: "_", "-" | downcase | relative_url %}
    {% assign optional_link_url = 'href="' | append: tmp | append: '"' %}
{% else %}
    {% if layout.type == item_type %}
        {% assign optional_link_tag = "span" %}
        {% assign optional_link_url = "" %}
    {% else %}
        {% assign optional_link_tag = "a" %}
        {% assign tmp = "/" | append: collection_name | append: '#' | append: item_id | relative_url %}
        {% assign optional_link_url = 'href="' | append: tmp | append: '"' %}
    {% endif %}
{% endif %}
