{% assign prefix_ = include.item_type | append: "=" %}    
{% assign badges = page.badges | where_exp: "item", "item contains prefix_" %}

{% if badges.size > 0 %}
<h4 class="{{ col_class }} mt-2"><a class="section-header-link" href="{{ include.collection_name | downcase | relative_url }}">
    {{ include.collection_name }}
    <i class="fa fa-caret-right" style="font-size: 0.8em;"></i>
</a></h4>
{% endif %}

{% for badge in badges %}
    {% include base/split-badge.html badge=badge %}
    {% include {{ include.badge_script }} %}
{% endfor %}
