{% if max_posts %}
{% else %}
    {% assign max_posts = site.max_posts_other %}
{% endif %}

{% if max_posts > 0 %}

{% include lists/posts.html %}

{% if is_news %}
<div class="{{ ticker_class }} col-lg-4">
<h3><a class="section-header-link" href="{{ 'newsfeed' | relative_url }}">
    Recent News 
    <i class="fa fa-caret-right" style="font-size: 0.8em;"></i>
</a></h3>
    
{% for post in filtered limit:max_posts %}
    {% include cards/post-card.html %}
{% endfor %}

</div>
{% endif %}

{% endif %}
