---
layout: base/base
---

<div class="row">
  <div class="col-md-10 col-lg-8 mx-auto">

    {{ content }}

    {% assign output = "" %}
    {% for item in site.data.publications %}
      {% assign badge_types  = item.badges | map: "type" %}
      {% assign badge_values = item.badges | map: "value" %}
      {% if badge_types contains 'project' and badge_values contains page.slug %}
        {% assign output = output | append: item.pmid | append: "~~" %}
      {% endif %}
    {% endfor %}

    {% assign publications = site.data.publications | where_exp: "item", "output contains item.pmid " %}

    {% assign header_prefix = "Project" %}
    {% include lists/publications.html %}

  </div>
</div>
