---
layout: base
description: Template for homepage
remark: See also page.layout == 'home' in head.html and jumbotron.html
---

<div class="row">
  <div class="col">
    <div class="row">

      <!-- from home.md -->
      <div class="col">
        {{ content }}
      </div>

      <!-- from _posts -->
      {% assign posts = site.posts %}
      {% assign max_posts = site.max_news_home %}
      {% include news-ticker.html %}
    </div>

    <!-- from _projects -->
    <hr>
    <h3>Active Projects</h3>    
    <div class="row cards mt-4">
    {% for project in site.projects limit:site.max_projects_home %}
      <div class="col-md-6 col-lg-4">
        {% include cards/project-card.html %}
      </div>
    {% endfor %}
    </div>

</div>
